doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Youthhostel Screen Admin
        link(rel='stylesheet', href='/css/main.css')
        script(src='/lib/foundation-sites/js/vendor/modernizr.js')

    body
        nav.top-bar(data-topbar)
            ul.title-area
                li.name
                    h1
                        a(href="/admin/") Youthhostel Screen Control Room
                li.toggle-topbar.menu-icon
                    a(href='#')
                        span Menu

            section.top-bar-section
                ul.right
                    li.divider
                    li
                        a(href='/admin/screens') Screens
                    li.divider
                    li
                        a(href='/admin/images') Images
                    li.divider
                    li
                        a(href='/admin/users') Users
                    li.divider

        .content
            block content

        script(src='http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places')
        script(src='/js/bundle.js')
