extends _layout


block content
    .row
        h1 Available screens
        table.small-12
            thead
                tr
                    th.small-5 Name
                    th.small-6 Location
                    th.small-1
                        a.button.tiny.round.icon.success.fi-plus(href='/admin/screens/add')
            tbody
                each doc in coll
                    tr
                        td
                            a(href="/admin/screens/#{ doc.id }")= doc.name
                        td(colspan=2)
                            a(href="/admin/screens/#{ doc.id }")= doc.location.name

