extends _layout


block content
    .row
        h1 Available screens
        table.small-12
            thead
                tr
                    th Location
            tbody
                tr
                    td Basel
                tr
                    td Test
