extends _layout


block content
    .row
        h1 Available screens
        table.small-12
            thead
                tr
                    th.small-11 Location
                    th.small-1
                        a.button.tiny.round.icon.success.fi-plus(href='/admin/screens/add')
            tbody
                tr
                    td(colspan=2) Basel
                tr
                    td(colspan=2) Test
